@charset "UTF-8";

body {
    background-color: rgb(2, 2, 68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
    text-align: justify;
}